@model List<Category>
<partial name="_Notification"/>

<h1>Category</h1>
<div>
    <a asp-action="Create" class="btn btn-primary">
        Create New Category
    <i class="bi bi-plus-lg"></i>
    </a>
</div>
<table class="table table-borderless">
    <thead>
        <tr>  
            <th>
                Category Name 
            </th>
            <th>
                Display Order 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
            <td>@obj.DisplayOrder</td>
            <td>
                <div role="group">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"  class="btn btn-primary mx-2">
                            <i class="bi bi-pen-square"></i>Delete
                        </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>